################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Bounity/Build
/Bounity/Library
/Bounity/Bounity.CSharp.csproj.user
/Bounity/Temp
/Bounity/obj/Debug
/Bounity/Assembly-CSharp.csproj
/Bounity/Bounity.sln
/Bounity/Bounity.CSharp.csproj
/Bounity/Bounity.csproj
/Bounity/Bounity.csproj.user
